@font-face {
  font-family: 'Gros Ventre';
  src: url("fonts/Gros Ventre Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url("fonts/Unbounded-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded SemiBold';
  src: url("fonts/Unbounded-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

body::-webkit-scrollbar {
    width: 15px;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.b1 {
	position: relative;
	width: 1520px;
	height: 1000px;
	margin: auto;
	padding-top: 14px;
	background-image: url(img/bg1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

header {
	position: fixed;
	left: 40px;
	width: 1430px;
	height: 89px;
	margin: auto;
	border: 0.5px solid #fff;
	border-radius: 28px;
	box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	z-index: 4;
	overflow-x: hidden;
	transition: width 0.3s linear;
}

.headerShort {
	width: 134px;
}

nav {
	display: flex;
	align-items: center;
}

.logo {
	width: 62px;
	margin: 0 42px 0 36px;
}

.logo img {
	width: 100%;
}

.navItem {
	background-color: #4987F6;
	color: #fff;
	padding: 6px 25px;
	font-family: 'Unbounded';
	font-size: 11.7pt;
	border-radius: 50px;
	margin: 0 25px 0 22px;
	cursor: pointer;
	transition: color 0.2s ease, background-color 0.2s ease;
}

.navItem:hover {
	background-color: #FFFFFF;
	color: #4987F6;
}

.profileBlock {
	font-family: 'Gros Ventre';
	padding-right: 30px;
	overflow: hidden;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.userImg {
	width: 48px;
	height: 48px;
	margin-right: 20px;
}

.userImg img {
	width: 100%;
	height: 100%;
}

.userName {
	color: #4987F6;
	font-size: 13pt;
	font-family: 'Unbounded';
}

.headerMobile {
	display: none;
	width: 90vw;
	margin: 3vw auto;
	justify-content: space-between;
}

.headerMobileItem {
	width: 20vw;
	height: 15vw;
	border-radius: 6vw;
	background-color: #FFFFFFBF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerMobileItem img {
	width: 45%;
}

.headerMobileItem:nth-child(2) {
	width: 26vw;
}

.headerMobileItem:nth-child(2) img {
	width: 50%;
}

.headerMobileItem:nth-child(3) img {
	width: 40%;
}

.b1Content {
	max-width: 1430px;
	padding-right: 40px;
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
	top: 228px;
	display: flex;
	z-index: 1;
}

.owl {
	width: 534px;
	transform: translateX(18px);
}

.owl img {
	width: 100%;
}

.welcomeBlock {
	position: relative;
	width: 870px;
	height: 470px;
	margin-top: -24px;
	margin-left: 17px;
	border: 0.7px solid #fff;
	border-radius: 64px;
	box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	opacity: 0;
}

.welcomeText {
	font-family: 'Unbounded';
	font-size: 38.4pt;
	color: #2254D7;
	text-align: center;
	margin: 120px 0 67px 0;
}

.mapButton {
	width: 594px;
	height: 104px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Unbounded';
	font-size: 29pt;
	background-color: #4987F6;
	color: #fff;
	border-radius: 40px;
	cursor: pointer;
	transition: color 0.2s ease, background-color 0.2s ease;
}

.mapButton:hover {
	background-color: #FFFFFF;
	color: #4987F6;
}

.marker {
	width: 90px;
	position: absolute;
	top: -50px;
	right: -28px;
}

.marker img {
	width: 100%;
}

.b2 {
	position: relative;
	width: 1433px;
	height: 350px;
	margin: auto;
	margin-top: 70px;
	padding-top: 91px;
	background-image: url(img/bg2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

.b2Text {
	font-family: 'Unbounded';
	color: #FFFFFF;
	margin-left: 225px;
}

.b2Text1 {
	font-size: 38.4pt;
}

.b2Text2 {
	font-size: 30pt;
	margin-top: 26px;
}

.b2Header {
	position: absolute;
	background-color: #FFFFFF;
	color: #2254D7;
	font-family: 'Unbounded';
	font-size: 30pt;
	padding: 4px 60px;
	border-radius: 50px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
	top: -30px;
	left: 74px;
}

.b2Clock {
	position: absolute;
	width: 440px;
	top: -51px;
	right: -48px;
}

.b2Clock img {
	width: 100%;
}

.b2Arrow {
	position: absolute;
	width: 119px;
	height: 119px;
	bottom: 32px;
	left: -3px;
}

.arrowImg {
	width: 119px;
	height: 119px;
	position: relative;
    overflow: hidden;
    cursor: pointer;
}

.arrowImg::before,
.arrowImg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.2s ease-in-out;
}

.arrowImg::before {
    background-image: url(img/arrow1select.png);
    z-index: 1;
}

.arrowImg::after {
    background-image: url(img/arrow1.png);
    opacity: 0;
    z-index: 2;
}

.arrowImg:not(:hover)::after {
    opacity: 1;
}

.b3 {
	margin: 45px 0;
}

.advices {
	position: relative;
	width: 1433px;
	height: 145px;
	margin: auto;
	background-image: url(img/advicesSelect.png);
	background-size: cover;
    background-position: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.advices::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/advices.png);
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.advices.active::before {
    opacity: 1;
}

.advicesText {
	position: absolute;
	padding: 14px 940px 14px 20px;
	font-family: 'Unbounded SemiBold';
	font-size: 28.8pt;
	color: #FFFFFF;
	bottom: 0px;
	left: 8px;
	transition: color 0.2s ease;
	cursor: pointer;
}

.advicesText:hover {
	color: #A6C2EB;
}

.cards {
	max-width: 1424px;
	margin: auto;
	margin-top: 42px;
	display: flex;
	justify-content: space-around;
}

.card {
	width: 438px;
	height: 582px;
	background-image: url(img/cardBg.png);
	background-size: cover;
}

.cardBg {
	position: relative;
	width: 385px;
	height: 516px;
	margin-top: 26px;
	margin-left: 26.5px;
	padding-top: 15px;
	border-radius: 44px;
	background-color: #FFFFFF;
}

.cardImg {
	width: 332px;
	margin: auto;
}

.cardImg img {
	width: 100%;
}

.cardHeader {
	width: 332px;
	margin: auto;
	margin-top: 6px;
	font-family: 'Unbounded';
	font-size: 18pt;
	color: #2254D7;
}

.cardTags {
	position: absolute;
	display: flex;
	top: 346px;
	left: 26.5px;
}

.col {
	flex-direction: column;
	align-items: start;
}

.cardTag {
	font-family: 'Unbounded';
	font-size: 12pt;
	color: #FFFFFF;
	background-color: #4987F6;
	padding: 3px 9px;
	border-radius: 20px;
	margin-right: 22px;
	margin-bottom: 7px;
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease;
}

.cardTag:hover {
	color: #4987F6;
	background-color: #FFFFFF;
}


.cardButtonWrapper {
	position: absolute;
	bottom: 28px;
	left: 56px;
	width: 276px;
	height: 62px;
}

.cardButton {
	position: relative;
	width: 276px;
	height: 62px;
	color: #FFFFFF;
	font-family: 'Unbounded';
	font-size: 18pt;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: color 0.2s ease;
	cursor: pointer;
}

.cardButton::before,
.cardButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-in-out;
}

.cardButton::before {
    background: radial-gradient(36.05% 36.05% at 50% 50.65%, #4987F6 0%, #2F6AEA 100%);
    z-index: 1;
}

.cardButton::after {
    background: radial-gradient(50% 35.45% at 50% 50.65%, #EAF3FF 0%, #A6C2EB 100%);
    opacity: 0;
    z-index: 2;
}

.cardButton:hover::after {
    opacity: 1;
}

.cardButton span {
	z-index: 3;
}

.cardButton:hover {
	color: #2F6AEA;
}

.b3Mobile {
	display: none;
	margin: 10vw 0;
}

.advicesMobile {
	width: 94vw;
	height: 24.6vw;
	margin: auto;
	background-image: url(img/Madvices.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.cardsMobile {
	margin-top: 5vw;
}

.cardMobile {
	background-image: url(img/McardBg.png);
	background-size: cover;
	width: 100vw;
	height: 49vw;
	margin-bottom: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardBgMobile {
	width: 90.5vw;
	height: 40vw;
	margin-top: 0.7vw;
	border-radius: 15px;
	background-color: #FFFFFF;
	display: flex;
}

.cardBgMobile-content {
	width: 60.5vw;
	position: relative;
}

.cardHeaderMobile {
	width: 90%;
	margin-left: 5vw;
	margin-top: 3vw;
	font-family: 'Unbounded';
	color: #2254D7;
	font-size: 3.4vw;
}

.cardTagsMobile {
	margin-left: 5vw;
	margin-top: 2vw;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.cardTagMobile {
	font-family: 'Unbounded';
	font-size: 2.5vw;
	color: #FFFFFF;
	background-color: #4987F6;
	padding: 2px 6px;
	border-radius: 2vw;
	margin-bottom: 1vw;
}

.cardButtonWrapperMobile {
	width: 55vw;
	position: absolute;
	bottom: 2vw;
	display: flex;
	justify-content: center;
}

.cardButtonMobile {
	width: 26vw;
	height: 6vw;
	color: #FFFFFF;
	background: radial-gradient(36.05% 36.05% at 50% 50.65%, #4987F6 0%, #2F6AEA 100%);
	font-family: 'Unbounded';
	font-size: 3.1vw;
	border-radius: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardBgMobile-img {
	width: 36vw;
	height: 36vw;
	margin-top: 2vw;
	margin-right: 5vw;
	border-radius: 4vw;
	background-size: cover;
	background-position: center center;
}

.m1 {
	background-image: url(img/Mcard1Img.png);
}

.m2 {
	background-image: url(img/Mcard2Img.png);
}

.m3 {
	background-image: url(img/Mcard3Img.png);
}

footer {
	height: 77px;
	margin-top: 150px;
	background-image: url(img/footerBg.png);
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 18px;
}

.footerText {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-family: 'Unbounded';
	font-size: 14.5pt;
}

.footerText img {
	width: 67px;
	margin: -15px 5px 0 5px;
}

@media (max-width: 1519px) {
	.b1 {
		width: 100vw;
		height: 70vw;
	}

	header {
		width: 94vw;
		left: 3vw;
	}

	.owl {
		width: 34vw;
		transform: translateX(0);
	}

	.welcomeBlock {
		width: 54vw;
	}

	.welcomeText {
		font-size: 3.3vw;
	}

	.mapButton {
		width: 36vw;
		height: 90px;
		font-size: 2.4vw;
	}

	.marker {
		width: 5.5vw;
		top: -40px;
		right: -18px;
	}

	.b2 {
		width: 94vw;
		height: 24vw;
		margin-top: 1vw;
		padding-top: 6vw;
	}

	.b2Text {
		margin-left: 14vw;
	}

	.b2Text1 {
		font-size: 3.5vw;
	}

	.b2Text2 {
		font-size: 2.8vw;
		margin-top: 1.2vw;
	}

	.b2Header {
		font-size: 2.8vw;
	}

	.b2Clock {
		width: 29.5vw;
		top: -3vw;
		right: -3.1vw;
	}

	.b2Arrow {
		width: 7.9vw;
		height: 7.9vw;
		bottom: auto;
		top: 19vw;
		left: 0;
	}

	.arrowImg {
		width: 7.9vw;
		height: 7.9vw;
	}

	.advices {
		width: 94vw;
		height: 9vw;
	}

	.advicesText {
		padding: 0.5vw 62.5vw 0.5vw 1vw;
		font-size: 2.6vw;
	}

	.cards {
		max-width: 95vw;
	}

	.card {
		width: 29vw;
		height: 39vw;
	}

	.cardBg {
		width: 25.5vw;
		height: 34.5vw;
		margin: auto;
		margin-top: 1.8vw;
	}

	.cardImg {
		width: 22vw;
	}

	.cardHeader {
		width: 22vw;
		font-size: 1.6vw;
	}

	.cardTags {
		top: 23vw;
		left: 26.5px;
	}

	.cardTag {
		font-size: 1.1vw;
	}

	.cardButtonWrapper {
		bottom: 2vw;
		left: 3.8vw;
		width: 18vw;
		height: 4vw;
	}

	.cardButton {
		width: 18vw;
		height: 4vw;
		font-size: 1.6vw;
	}

	footer {
		height: 5vw;
		margin-top: 10vw;
	}

	.footerText {
		font-size: 1.3vw;
	}

	.footerText img {
		width: 4vw;
	}
}

@media (max-width: 1200px) {
	header {
		height: 9vw;
	}

	.headerShort {
		width: 134px;
	}

	.logo {
		width: 62px;
		margin: 0 1.5vw 0 36px;
	}

	.navItem {
		padding: 5px 1.7vw;
		margin: 0 1.5vw;
		font-size: 1.6vw;
	}

	.userImg {
		width: 5vw;
		height: 5vw;
	}

	.userName {
		font-size: 1.7vw;
	}

	.welcomeBlock {
		height: 30vw;
	}

	.welcomeText {
		font-size: 3.3vw;
		margin: 6vw 0 4vw 0;
	}

	.mapButton {
		width: 36vw;
		height: 7vw;
	}

	.cardBg {
		height: 33.8vw;
		border-radius: 26px;
	}

	.cardTags {
		top: 24vw;
		left: 1.7vw;
	}

	.cardButtonWrapper {
		bottom: 1.5vw;
		left: 3.8vw;
		width: 18vw;
		height: 3.8vw;
	}

	.cardButton {
		width: 18vw;
		height: 3.8vw;
		font-size: 1.5vw;
	}
}

@media (max-width: 950px) {
	.b1 {
		height: 132vw;
		background-image: url(img/bg1m.png);
	}

	header {
		display: none;
	}

	.headerMobile {
		display: flex;
	}

	.b1Content {
		width: 94vw;
		padding-right: 0px;
		top: auto;
		bottom: 7vw;
		justify-content: space-between;
	}

	.owl {
		width: 36vw;
	}

	.welcomeBlock {
		border-radius: 20px;
		margin: 1vw 0 0 0;
		border: 0px solid #fff;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
		background-color: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}

	.marker {
		width: 5.5vw;
		top: -2vw;
		right: -1vw;
	}

	.welcomeBlock {
		width: 58vw;
		height: 40vw;
	}

	.m {
		display: none;
	}

	.welcomeText {
		font-size: 4.1vw;
		padding: 0 5px;
	}

	.mapButton {
		width: 42vw;
		height: 8.5vw;
		font-size: 3vw;
	}

	.b2 {
		background-image: url(img/Mbg2.png);
		background-size: cover;
		height: 31vw;
	}

	.b2Header {
		font-size: 3.2vw;
		padding: 4px 6vw;
		top: -3vw;
		left: 6vw;
	}

	.b2Text1 {
		font-size: 3.8vw;
		margin-top: 1.6vw;
	}

	.b2Text2 {
		font-size: 3vw;
		margin-top: 2.2vw;
	}

	.b2Arrow {
		width: 7.9vw;
		height: 15vw;
		top: 21.5vw;
	}

	.arrowImg {
		width: 7.9vw;
		height: 15vw;
	}

	.arrowImg::before {
	    background-image: url(img/Marrow1.png);
	}

	.arrowImg::after {
	    background-image: url(img/Marrow1.png);
	}

	.b2Clock {
		width: 32vw;
		top: 7vw;
	}

	.b3 {
		display: none;
	}

	.b3Mobile {
		display: block;
	}

	footer {
		background-image: url(img/MfooterBg.png);
		height: 8.5vw;
	}

	.footerText {
		margin-top: -2vw;
		margin-left: -2.5vw;
		font-size: 2.6vw;
	}

	.footerText img {
		width: 6.5vw;
		margin: -1.2vw 5px 0 5px;
	}
}